---
layout: default
title: Home
---

<link rel="stylesheet" href="{{ site.baseurl }}public/css/home.css">

<div class="posts">
  <h3>Blog Posts</h3>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <div class="first"><span>{{ post.date | date: "%F" }}</span></div>
        <div class="second"><a href="{{ post.url }}">{{ post.title }}</a></div>
      </li>
    {% endfor %}
  </ul>

  <!-- Save this for a time when I have enough tags / posts to warrant it.
       See also http://ivanzuzak.info/ for some clues as to how to expand lists
  <h3>Blog posts by tag</h3>
  {% capture tags %}
    {% for tag in site.tags %}
      {{ tag[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedtags = tags | split:' ' | sort %}

  {% for tag in sortedtags %}
    <h4 id="{{ tag }}">{{ tag }}</h4>
    <ul class="posts">
    {% for post in site.tags[tag] %}
      <li>
        <div class="first"><span>{{ post.date | date: "%F" }}</span></div>
        <div class="second"><a href="{{ post.url }}">{{ post.title }}</a></div>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
  -->
</div>
